<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>67</integer>
	<key>Time Stamp</key>
	<real>1775830873.2823119</real>
	<key>UUID</key>
	<string>B528168E-C510-49EC-B8FE-60ED85A1035F</string>
</dict>
</plist>
