<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>67</integer>
	<key>Time Stamp</key>
	<real>1776071135.7613931</real>
	<key>UUID</key>
	<string>698DCBBE-A472-46E8-82C3-D0453BDEFA70</string>
</dict>
</plist>
